<div class="main">
    <div class="menu-solution">
        <div class="top">
            <div class="default">
                <ul [hidden]="isshowulone">
                    <li>
                        <button class="toggle" (click)="toggleone()">
                            <mat-icon class="menu master">menu</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <ul [hidden]="isshowul">
                <li class="underfine">
                    <button class="toggle" (click)="toggle()">
                        <mat-icon class="menu master">clear</mat-icon>
                    </button>
                </li>
                <li class="underfine">
                    <button class="toggle">
                        <mat-icon class="icon menu" (click)="editting()">create</mat-icon>
                    </button>
                </li>
                <li class="underfine">
                    <button class="toggle">
                        <mat-icon class="icon menu ">delete_sweep</mat-icon>
                    </button>
                </li>
                <li class="underfine">
                    <button class="toggle">
                        <mat-icon class="icon menu ">rate_review</mat-icon>
                    </button>
                </li>
                <li class="underfine">
                    <button class="toggle">
                        <mat-icon class="icon menu ">cloud_download</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
        <div class="bottom">
            <div class="share-info">
                <ul [hidden]="isshowultwo">
                    <li class="inline">
                        <mat-icon class="icon share">facebook</mat-icon>
                    </li>
                    <li class="inline">
                        <mat-icon class="icon share">call</mat-icon>
                    </li>
                </ul>
            </div>
            <div class="default2">
                <ul class="inline">
                    <li>
                        <button class="toggle" (click)="show()">
                            <mat-icon class="menu master">share</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <textarea [disabled]="iseditting" class="note" pInputTextarea [autoResize]="true" placeholder="TextNote...." [(ngModel)]="message">{{message}}</textarea>
    </div>
</div>


<app-child-change [message]="message"></app-child-change>