<div class="main">
    <div class="menu-solution">
        <div class="top">
            <ul>
                <li>
                    <mat-icon class="icon menu master">menu</mat-icon>
                </li>
                <li>
                    <mat-icon class="icon menu underfine">menu</mat-icon>
                </li>
                <li>
                    <mat-icon class="icon menu underfine">menu</mat-icon>
                </li>
                <li>
                    <mat-icon class="icon menu underfine">menu</mat-icon>
                </li>
            </ul>
        </div>
        <div class="bottom">
            <div class="share-info">
                <ul>
                    <li class="inline">
                        <mat-icon class="icon share">share</mat-icon>
                    </li>
                    <li>
                        <mat-icon class="icon share">share</mat-icon>
                    </li>
                    <li>
                        <mat-icon class="icon share">share</mat-icon>
                    </li>
                    <li>
                        <mat-icon class="icon share">share</mat-icon>
                    </li>
                    <li>
                        <mat-icon class="icon share">share</mat-icon>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <textarea class="note" pInputTextarea [autoResize]="true" placeholder="TextNote...." [(ngModel)]="message">{{message}}</textarea>
    </div>
</div>
<app-child-change [message]="message"></app-child-change>