<div class="main">

    <div class="card">
        <div class="menu-solution">
            <ul>
                <li>
                    <mat-icon class="icon menu">menu</mat-icon>
                </li>
            </ul>
        </div>
        <div class="underfine menu-solution">
            <ul>
                <li>
                    <mat-icon class="icon menu">remove_red_eye</mat-icon>
                </li>
            </ul>
        </div>
        <div class="underfine menu-solution">
            <ul>
                <li>
                    <mat-icon class="icon menu">remove_red_eye</mat-icon>
                </li>
            </ul>
        </div>
        <div class="underfine menu-solution">
            <ul>
                <li>
                    <mat-icon class="icon menu">remove_red_eye</mat-icon>
                </li>
            </ul>
        </div>
        <div class="underfine menu-solution">
            <ul>
                <li>
                    <mat-icon class="icon menu">remove_red_eye</mat-icon>
                </li>
            </ul>
        </div>
        <div class="underfine menu-solution">
            <ul>
                <li>
                    <mat-icon class="icon menu">remove_red_eye</mat-icon>
                </li>
            </ul>
        </div>
        <div class="underfine menu-solution">
            <ul>
                <li>
                    <mat-icon class="icon menu">remove_red_eye</mat-icon>
                </li>
            </ul>
        </div>
        <div class="underfine menu-solution">
            <ul>
                <li>
                    <mat-icon class="icon menu">remove_red_eye</mat-icon>
                </li>
            </ul>
        </div>
        <div class="bottom">
        <div class="share-info">
            <ul>
                <li>
                    <mat-icon class="icon share">share</mat-icon>
                </li>
            </ul>
        </div>
        </div>
    </div>

   <div class="container">
        <p-editor class="editor" formControlName="description" [style]="{'height':'320px', 'wight':'320px'}"></p-editor>
    </div> 
</div>