.card {
    height: 100%;
    width: 7.6%;
    border-right-style: groove;
}

.share-info {
    position: absolute;
    bottom: 0;
    height: 6.7rem;
    width: 7.6%;
    border-right-style: groove;
    &:hover {
        background-color: yellow;
        transition: 0.4s;
    }
}

.menu-solution {
    height: 6.75rem;
    border-bottom-style: groove;
    &:hover {
        background-color: yellow;
        transition: 0.4s;
    }
}

.main {
    display: flex;
}

.note {
    padding-top: 0;
    width: 700px;
    margin-left: 18rem;
}

.container {
    width: 92.4%;
}