.share-info {}

.menu-solution {
    position: absolute;
    height: 100%;
}

.hidle {}

.icon {
    width: 100%;
}

.bottom {
    bottom: 0;
    position: fixed;
}

.note {
    padding-top: 0;
    width: 700px;
    margin-left: 18rem;
}

.inline {
    border-top: 1px solid #A2A2A2;
    border-right: 1px solid #A2A2A2;
}

.top {
    border-right: 1px solid #A2A2A2;
    height: 100%;
}

.default {
    position: absolute;
}

.toggle {
    // visibility: hidden;
    height: 69px;
    width: 70px;
    border: hidden;
    background-color: white;
    &:hover {
        background-color: aqua;
    }
}

.underfine {
    border-bottom: 1px solid #A2A2A2;
}